@import url('https://fonts.googleapis.com/css2?family=Poppins%3Awght%40300%3B400&family=Roboto%3Awght%40700&family=Rubik%3Aital%2Cwght%400%2C400%3B1%2C300%3B1%2C400&display=swap%27%29%3B');

*{ margin: 0; padding: 0; box-sizing: border-box;}

body, html {
    
        height: 100vh; 
        width: 100vw;  
        background: linear-gradient(72deg, #4280E1 1%,  #3DECB1 72%); 
        display: flex; 
        justify-content: center; 
        align-items: center;

}

.content {

        display: flex;
        flex-direction: column;
        height: 480px;
        min-height: 440px;
        max-height: 500px;

}

header {

        display: flex;
        align-items: center;
        justify-content: center;
        margin-bottom: 30px ;

}

header h1 {

        font-family:  "Roboto";
        font-weight: bold;
        color: #f0fbaf;
        font-size: 64px;
        margin-left: 25px;

}

main {

        margin: auto;
        width: 85%;
        height: 70%;

}

main form {

        display: flex;
        flex-direction: column;
        height: 100%;
        justify-content: space-between;

}
.input-field {

        display: flex;
        align-items: center;
        justify-content: space-between;
        border-radius: 10px;
        height: 55px;
        border: 2px solid #def7f4;
        flex-direction: row-reverse;

}

.input-field input {

      border: none;
      outline: none;
      background: #def7f4;
      width: 82%;
      height: 55px;
      padding-left: 20px;
      font-size: 20px;
      font-family: "Poppins";
      border-radius: 0 8px 8px 0;

}

::-webkit-input-placeholder{

     color: #6d6e6f;
     font-weight: 300;

}

.input-field label{

     height: 55px;
     width: 18%;
     display: flex;
     align-items: center;
     justify-content: center;

}

.input-field label img {

     width: 33px;
     height: 33px;

}

.check label {

     color: #def7f4;
     font-family: "Rubik";
     font-size: 18px;
     cursor: pointer;

}

.check input {

     display: none;

}

.check input + label:before {

     content: '';
     display: inline-block;
     width: 24px;
     height: 24px;
     vertical-align: middle;
     border: 2px solid #def7f4;
     border-radius: 5px;
     margin-right: 10px;
    
}

.check input:checked + label:before {
     
     background:  url(./check.svg) no-repeat center;

}

.btn{
     
     height: 55px;
     background-color: #447ce2;
     border: none;
     border-radius: 10px;
     color: #def7f4;
     outline: none;
     cursor: pointer;
     font-size: 21px;
     font-family: "Rubik";

}

.btn:hover {
     
     height: 55px;
     background-color: #163a7c;
     border: none;
     border-radius: 10px;
     color: #def7f4;
     outline: none;
     cursor: pointer;
     font-size: 21px;
     font-family: "Rubik";
     

}